{% extends 'layouts/default.twig' %}


{% block main %}

	
<section class="home-intro" id="homeIntro">

  <a href="{{ home_url }}products/elke">
    <img src="{{ page.thumb }}" alt="">
  </a>


</section>

{% endblock %}