{#
<div class="__sum-row">
    <span>Produkty razem</span>
    <span>{{ cart.total }} eur</span>
</div>
<hr>
#}
<div class="__sum-row -large">
    <span>Total</span>
    <span>{{ cart.total + cart.delivery_cost }} eur</span>
</div>