{% extends 'layouts/default.twig' %}


{% block main %}


<section class="page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
    	<p><strong>Thanks for your order! Please check your mail for the details.</strong></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}