
.products {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
  padding: 0 74px 70px 74px;
}

.products > * {  
  flex: 1 100%;
  margin: 4px;
}


.main {
  	text-align: left;
  	background-color: rgb(238,238,238);
}

.aside-1 {
	background-color: rgb(225,220,220);
}



@media all and (min-width: 480px) {
  	.main  { flex: 1; }
    .main  { order: 2; }
  	.aside { order: 1; }

}

@media all and (min-width: 640px) {
  .main { flex: 1 0 100%; }
}

@media all and (min-width: 768px) {
  .main  { flex: 1 0 60%; }
  .aside { flex: 1 0 35%; }
  .main  { order: 1; }
  .aside { order: 2; }
}



#inspirations-images {display: flex;flex-flow: row wrap;}
#inspirations-images .mask {display: flex; align-items: center;}
.view { flex: 1; margin: 37px;}


@media all and (max-width: 480px) {
  #slider img {max-height: 400px; max-width: 400px;}
  section {padding: 0 25px;}
}

@media all and (max-width: 640px) {
  #slider img {max-height: 400px; max-width: 400px;}
  #inspirations-images { display: flex;flex-flow: column; } 
  .products {padding: 0;}
  .view { flex: auto; margin: 18px 0;} 
}
/*0
@media all and (max-width: 768px) {
	#inspirations-images {display: flex;flex-flow: row wrap;}
	#inspirations-images .mask {display: flex; align-items: center;}
	.view { flex: 1; margin: 37px;}
}
*/	

